.home-container{
    display: flex;
    flex-direction: column;
    padding:  20px 10px 10px 10px;
    font-size: 20px;
    text-align: center;
}

.home-card{
    display: flex;
    flex-direction: column-reverse;
    background-color: #00285F;
    box-shadow: 0px 4px 20px rgba(0,0,0, 0.25);
    border-radius: 20px;    

}

.home-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px;
    color: #FFFFFF;

}

.home-card-content h1{
    font-size: 22px;
    width: 260px;
    margin-bottom: 4px;
    
}

.home-card-content p{
    font-size: 0.6em;
    width: 260px;
    margin-bottom: 30px ;    
}

.home-card-image img{
    padding: 50px 15px;
    height: auto ;
    width:100%;
 
}

.home-button-card {
    padding:  20px;

    background-color: #EDEDED;
    border-radius: 20px;    
    height:120px;
    align-items: center;
}

.home-button-card button{
    width: 180px;
    height: 40px;
    background-color: #00285F;
    
}

.home-button-card h6{
    font-size: 0.8em;
    font-weight: 400;
    color: #FFFFFF;    
}

.home-button-card h5 {
    font-size: 0.8em;
    color: #585858;
    font-weight:400;    
}